body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

#primeDisplay {
    color: white;
    font-size: 10rem;
    font-family: Arial, sans-serif;
}
